.header{
    background-image: url(../images/hero-homepage-2019-1800x1185.jpg);
    height: 100vh;
    font-size: 15px;
    background-color :rgba(0, 0, 255, 0);
}
/* start logo style  */
.img{
   background-size: c ;
    position: relative;
    image-resolution: 10px;
    padding: 10px;
    width: 10%;
   height: auto; 
}
@media only screen and (min-width:400px){
    .header{
        background-image: url(../images/hero-homepage-2019-1800x1185.jpg);
      
    }
}
  
   /* END LOGO style */

   /* START style navbar */
   .navbar-container{
   display: flex;
   
}
  
 

  

 .navbar{ 
    display: flex;
    margin: 0 auto;
    list-style-type: none;
  

}


    
  
     


   

/*  end ul-navbar */

/* START BUTTON STYLE  */
  .Button1{
    border: 8px sandybrown solid;
    background-color: sandybrown;
    border-radius: 20px;
    color: white;
    text-align: ;

    }
.Button1{
    display: flex;
    height: 30px;
    list-style: none;
    
}
.Button1:active{
    color: blue;
  }
  .Button{
    color: #fff;
    Background-color: sandybrown;
    border-radius: 100px;
    border: 1px solid;
    text-align: center;
  }

 /* STYLE STREAME */
.first-item {
    text-align: center;
    color:rgb(8, 8, 8);
    margin: 10px;
    padding: 10px;
}
/* END STREAME */


.DeinMedia{
    box-sizing: border-box;
    position: relative;
    top: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid red; 
    display: flex;
    opacity: 0.8;
   font-size: 0.9em;
   background-color: gray;
      
}

.Media{ 
   
    box-sizing: border-box;
    border:1px solid greenyellow;
    transform: scale(1.2); 
    padding: 10px;
    margin: 11px;
    }
.Music{
    padding: 10px;
    
}   
.Live{
    padding: 10px;
      
} 
.Kostenlose{
    
    padding: 10px
}


